
<!-- Second Option -->
<div class="container">
    <div class="row">
        <!-- <div class="col-md-4 mt-5">
        </div> -->
        <!-- <section class="col-sm mt-5">
        </section> -->
        <div class="card mt-5">
            <div class="card-body">
                <form>
                    <h5 class="ml-2">PEDIDO</h5>
                    <!-- <input> -->
                    <div class="form-group">
                        <button *ngFor="let Food of FOOD" class="btn btn-success mb-2 m-2">{{Food.name}} <br> {{Food.price}}
                        </button>
                    </div>
                    </form>
                </div>
            </div>
            <div class="col-sm text-center mt-5">
                <h2> Ñam! Desayuno?...{{ title }}</h2>
                <img width="200" alt="Burger Logo" src="https://i.ibb.co/6Xt3x4K/BURGUER-QUEEN3-PNG.png">
            </div>
            <!-- <div class="col-md-5 text-center mt-5">
                <app-product-list></app-product-list>
            </div> -->
            <!-- <section class="col-sm mt-5">
            </section> -->
            <div class="card mt-5">
                <div class="card-body">
                    <form>
                        <h5 class="ml-2">RESUMEN</h5>
                        <div class="form-group">
                            <!-- <ul *ngFor="let product of productList">
                                <li>{{product.cafe}}</li>
                                <li>{{product.cafeleche}}</li>
                                <li>{{product.jugo}}</li>
                                <a class="btn btn-secondary text-while">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a class="btn btn-danger text-while">
                                    <i class="fas fa-trash-alt"></i>                            
                                </a>
                            </ul> -->
                            <input>
                        </div>
                    </form>
                    <p id="total">Total Pedido:$</p>
                    <div class="row">
                        <!-- <button type="button" class="btn btn-success mb-2 clean m-2">Borrar</button> -->
                        <!-- <button type="button" class="btn btn-success mb-2 send m-2">Enviar a Cocina</button> -->
                        <button class="btn btn-warning" type="submit"hjn>
                            <i class="fas fa-check-circle"></i> Enviar a Cocina
                        </button>
                        <button class="btn btn-danger" type="reset">
                            <i class="fas fa-ban"></i> Cancelar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
<button *ngFor="let Food of FOOD">{{Food.name}}<br>{{Food.price}}</button>
