<!-- Second Option -->
<div class="container">
  <div class="row">
    <div class="card mt-5">
      <div class="card-body">
        <!-- <form> -->
          <h5 class="ml-2">INICIA TU PEDIDO</h5>
          <div class="form-group">
            <button class="btn btn-warning mb-2 m-2" (click)="filterBreakfast('breakfast')">
              <i class="fas fa-check-circle"></i> DESAYUNO
            </button>
            <button class="btn btn-warning mb-2 m-2" (click)="filterDailyMenu('dailyMenu')">
              <i class="fas fa-check-circle"></i> MENÚ DEL DÍA
            </button>      
          </div>  
          <div class="form-group">
            <button type="submit" class="btn btn-success mb-2 m-2" 
              *ngFor="let Food of list" value="{{Food.id}}" (click)="onSelect(Food.id)">
              {{Food.name}}<br>{{Food.price}}
            </button>
          </div>
        <!-- </form> -->
      </div>
    </div>
    <div class="col-sm text-center mt-5">
      <h2> Ñam!...</h2>
      <img width="200" alt="Burger Logo" src="https://i.ibb.co/6Xt3x4K/BURGUER-QUEEN3-PNG.png">
    </div>
    <div class="card mt-5">
      <div class="card-body">
         <form>
          <h5 class="ml-2">RESUMEN</h5>
          <div class="form-group">
              <ul *ngFor="let Food of selectedList">
               <li>{{Food.name}}<br>{{Food.price}}</li>
              <a class="btn btn-secondary text-while">
                <i class="fas fa-edit"></i>
              </a>
              <a class="btn btn-danger text-while" (click)="deletes(Food)">
                <i class="fas fa-trash-alt"></i>                            
              </a>
            </ul> 

            <!--
             <ul>
              <ul *ngFor="let food of list">
              <li>{{food.id}}</li>
              <li>{{food.name}}</li>
              <li>{{food.price}}</li>
              <a class="btn btn-secondary text-while">
                <i class="fas fa-edit"></i>
              </a> 
              <a class="btn btn-danger text-while">
                <i class="fas fa-trash-alt"></i>                            
              </a>
            </ul> 
-->
          </div>
        </form>
          <p id="total">Total Pedido:${{sum}}</p>
          <div class="row">
            <button class="btn btn-warning mb-2 m-2" type="submit">
              <i class="fas fa-check-circle"></i> Enviar a Cocina
            </button>
            <button class="btn btn-danger mb-2 m-2" type="reset">
              <i class="fas fa-ban"></i> Cancelar
            </button>
            <!-- <div>
              <ul>
                <li>{{Food.name}}{{Food.price}}<button (click)="onDeleteOne(Food.id)">X</button></li>
              </ul>
            </div> -->
          </div>
      </div>
    </div>
  </div>
</div>
